html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#loader-page {
    color: white;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: width 4s, height 4s;
}

#loader-header {
    position: fixed;
    color: white;
    top: 10%;
    width: 50%;
    height: 30%;
    left: 25%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#loader-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#loader-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    margin: -76px 0 0 -76px;
    border-radius: 50%;
    border-top: 16px solid red;
    border-right: 16px solid black;
    border-left: 16px solid white;
    border-bottom: 16px solid gold;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

.testudo {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    right: 50%;
    z-index: 1000;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom: -100px; opacity: 0 }
    to { bottom: 0px; opacity: 1 }
}

@keyframes animatebottom {
    from{ bottom: -100px; opacity: 0 }
    to{ bottom: 0; opacity: 1 }
}

#shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 900;
    background: black !important;
    opacity: 0.5;
    top: 0px;
}

#headerBar {
    top: 0px !important;
    width: 100%;
    height: 60px;
    /*padding-top: 10px;*/
    position: absolute;
    float: left;
    background: #e21833;
    z-index: 899;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#headerText {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #ffd200;
    -webkit-text-stroke: 1.5px black;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 2;
    font-family: Helvetica;
    height: 60px;
}

#headerText-mobile {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #ffd200;
    -webkit-text-stroke: 1.5px black;
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 2;
    font-family: Helvetica;
    width: 100%;
    height: 60px;
    display: none;
}

#headerImage {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    display: inline;
    vertical-align: middle;
}

#headerImage-mobile {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	float: left;
	display: none;
	height: 60px;
	width: 60px;
}
	
#links {
    position: absolute;
    right: 6px;
    height: 40px;
    top: 0px;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#headerTable {
    right: 10px;
    position: absolute;
    margin-top: 3px;
}

#centerLink {
    text-decoration: none;
}

#linkText {
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: Helvetica;
    cursor: pointer;
}

#linkText:hover {
    color: #ffd200;
}
/*
#sidebar {
    height: calc(100% - 60px);
    width: 25%;
    top: 60px;
    left: 0;
    background-color: #333;
    position: absolute;
    margin: 0;
    z-index: 599;
}
*/
#sidebar {
    height: calc(100% - 60px);
    width: 400px;
    top: 60px;
    left: 0;
    background-color: #333;
    position: absolute;
    margin: 0;
    z-index: 599;
}

#layerInfos {
    position: absolute;
    background-color: white;
    height: 350px;
    width: 100%;
    z-index: 601;
    text-align: center;
}

#layerInfos img {
    margin: auto;
    display: block;
    padding-top: 5px;
    position: absolute;
    width: 95%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    background-size: cover;
    max-width: calc(100% - 10px);
    max-height: calc(100% - 5px);
    top: 0;


}

#resultTable {
    bottom: 0;
    height: calc(100% - 350px);
    width: 100%;
    position: absolute;
    top: 350px;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-align: center;
    z-index: 600;
}

#tableText {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    top: 1rem;
    width: 100%;
    left: 0;
}

.card {
    display: inline-block;
    height: fit-content;
    width: 90%;
    background-color: white;
    font-size: 16px;
    font-family: Helvetica;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
}

.card:hover {
    background-color: #ffd200;
    color: black;
    cursor: pointer;
}

.card:focus {
    background-color: #e21833;
    cursor: pointer;
}

#viewDiv {
	height: calc(100% - 60px);
    width: calc(100% - 400px);
    right: 0;
    margin-left: 0;
    margin-right: 0;
	position: absolute;
	top: 60px;
    padding: 0;
	overflow: hidden;
    background-color: #fff;
}

:focus {
    outline: none;
}

h5 {
    font-size: 26px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h6 {
    font-weight: bold;
    color: black;
    font-size: 18px !important;
    text-align: center !important;
    margin: 3px;
    font-family: Helvetica;
}

#splash { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 901; /* Sit on top */
    left: 27.5%;
    top: 12.5%;
    width: 45%;
    height: 75%;
    overflow: auto; /* Enable scroll if needed */
    color: white;
    background: #333;
    border: 2px solid white;
    -moz-box-shadow: 3px 3px 4px #333;
    -webkit-box-shadow: 3px 3px 4px #333;
    box-shadow: 3px 3px 3px #333;
}

#splash-header {
    position: absolute;
    border-bottom: 2px solid white;
    height: 50px;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 902;
}

#splash-title {
    position: absolute;
    color: white;
    font-size: 26px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    line-height: 2;
}

#popup-tutorial {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    border: 2px solid white;
}

#splash-content {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
	overflow-x: hidden;
    overflow-y: auto;
    top: 50px;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#splash-footer {
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 902;
    border-top: 2px solid white;
}

#splash_checkbox {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    position: relative;
}

#check {
    margin-left: 15px;
    vertical-align: middle;
    position: relative;
}

#splashButton {
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    font-size: 16px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    font-family: Helvetica;
    top: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#splashButton:hover {
    background-color: lightgray;
}

#open-splash {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    right: 20px;
    top: 80px;
    z-index: 899;
    border: 1px solid black;
}

#open-splash:hover {
    background-color: lightgray;
}

#manual-icon {
    padding: 4px;
    height: 32px;
    width: 32px;
}

#moreInfo-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    left: 80px;
    bottom: 20px;
    z-index: 899;
    border: 1px solid black;
    display: none;
}

#moreInfo-icon:hover {
    background-color: lightgray;
}

#moreInfo-img {
    padding: 4px;
    height: 32px;
    width: 32px;
}

#moreInfo {
  position: fixed;
  z-index: 910;
  /*
  width: 75%;
  height: 75%;
  top: 12.5%;
  */
  width: 45%;
  height: 75%;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #333;
  display: none;
  border: 2px solid white;
  overflow: auto;
  box-shadow: 3px 3px 3px #333;
}

#moreInfo-header {
    position: absolute;
    height: 50px;
    border-bottom: 2px solid white;
    top: 0;
    right: 0;
    width: 100%;

}

#moreInfo-sectionheader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    display: block;
}

#moreInfo-title {
    position: absolute;
    font-size: 26px;
    color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    line-height: 2;
}

#moreInfo-content {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
    top: 50px;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#infoModal-text {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#mobile-disclaimer {
	display: none;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	padding-left: 1rem;
	padding-right: 1rem;
}

#moreInfo-link {
    color: #e21833;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none !important;
}

#moreInfo-link2 {
    text-decoration: none;
}

#moreInfo-link:hover {
    color: #ffd200;
}

#moreInfo-footer {
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 911;
    border-top: 2px solid white;
}

#closeMoreInfo {
    position: absolute;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    font-family: Helvetica;
    top: 14px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0;
}

#closeMoreInfo:hover {
    background-color: lightgray;
}

#queryIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    right: 20px;
    top: 20px;
    z-index: 899;
    border: 1px solid black;
}

#search {
    padding: 4px;
    height: 32px;
    width: 32px;
}

#search:hover {
    background: lightgray;
}
/*
#queryIcon. tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px 7px 7px 7px;
    position: absolute;
    z-index: 900;
    top: -5px;
    right: 105%;
}
*/
/*
#queryButton:hover. tooltip {
    visibility: visible;
}
*/

#legendIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    left: 20px;
    bottom: 20px;
    z-index: 899;
    border: 1px solid black;
}

#legendIcon:hover {
    background-color: lightgray;
}

#legend {
    padding: 4px;
    height: 32px;
    width: 32px;
}

.tooltip {
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
  z-index: 900;
}

/*
#floor4img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: fit-content;
}
*/

#floor4img {
    position: absolute;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-size: cover;
    max-width: 100%;
}

/*
#legendIcon. tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px 7px 7px 7px;
    position: absolute;
    z-index: 900;
    bottom: -5px;
    right: 105%;
}
*/

#legendModal {
  position: absolute;
  z-index: 899;
  left: 10px;
  bottom: 50px;
  height: 400px;
  width: max-content;
  overflow: auto;
  background: white;
  border: 1px solid black;
  border-radius: 1%;
  -moz-box-shadow: 3px 3px 4px #333;
  -webkit-box-shadow: 3px 3px 4px #333;
  box-shadow: 3px 3px 3px #333;
}

#selectModal {
    position: fixed;
    z-index: 899;
    right: 0;
    top: 130px;
    height: fit-content;
    /*height: 600px;*/
    width: 20%;
    max-width: 450px;
    overflow: auto;
    background: #e21833;
    border: 1px solid black;
    border-radius: 1%;
    -moz-box-shadow: 3px 3px 4px #333;
    -webkit-box-shadow: 3px 3px 4px #333;
    box-shadow: 3px 3px 3px #333;
}

.select-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.select-fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.modalButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    cursor: pointer;
}

select {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#locationInput, #drawerInput {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

hr {
    border-top: 1px solid black;
}

.searchType {
    font-weight: bold;
}

#error-screen {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 15%;
    width: 15%;
    background-color: white;
    display: none;
    z-index: 901;
    padding-top: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    border: 1px solid black;
}

@media screen and (max-height: 800px) {
    #error-screen {
        height: 30%;
        width: 30%;
        top: 35%;
    }
}

#error-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid black;
}

#error-header h5 {
    color: red;
}

#error-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 0;
}

#error-content {
    margin: auto;
    display: block;
    position: relative;
    top: 1rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#error-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    display: block;
    cursor: pointer;
}

.esri-view {
    --esri-view-outline-color: none !important;
}

@media screen and (max-width: 1100px) {
    #headerText {
        left: 0;
        padding-left: 1rem;
        transform: none;
    }

    #headerImage {
        display: none;
    }

    #sidebar {
        /*width: 40%;*/
        width: 300px;
    }

    #layerInfos {
        height: 25%;
    }

    #resultTable {
        height: 75%;
        top: 25%;
    }

    .card {
        padding-left: 0;
        padding-right: 0;
    }

    #viewDiv {
        /*width: 60%;*/
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 500px) {

    #loader-img {
        display: none;
    }

    #loader-text {
        position: absolute;
        width: 100%;
        height: fit-content;
        font-size: 16px;
        bottom: 45%;
    }

    #headerText {
        display: none;
    }

    #headerText-mobile {
        display: block;
    }

#headerImage-mobile {
	display: block;
}

    #linkText {
        display: none;
    }

    #splash {
        width: 95%;
        height: 80%;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0%);
    }

    #moreInfo-icon {
        display: block;
    }

    #moreInfo {
        width: 95%;
        height: 80%;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0%);
    }

    #moreInfo-title {
        font-size: 20px;
    }

    #sidebar {
        display: none;
    }

    #viewDiv {
        width: 100%;
    }

    #selectModal {
        width: 95%;
        left: 2.5%;
        height: fit-content;
        top: 130px;
    }

	#mobile-disclaimer {
		display: block;
}
